@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --background: #272822;
    --current-line:  #3E3D32;
    --selection: #49483E;
    --foreground: #F8F8F2;
    --comments: #75715E;
    --strings: #E6DB74;
    --numbers: #AE81FF;
    --keywords: #F92672;
    --variables: #A6E22E;
    --classes: #66D9EF;
    --errors: #F44747;
    --accents: #75715E;
}

body {
    background-color: var(--background);
    font-family: monospace;
    font-size: auto;
    line-height: 1.5em;
    color: var(--strings);
}

a {
    color: var(--keywords);
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

a:hover {
    color: var(--classes);
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

a:visited {
    color: var(--variables);
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

a:active {
    color: var(--numbers);
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

::selection {
    background-color: var(--selection);
    color: var(--foreground);
}

h1, h2 {
    color: var(--errors);
    font-size: 2em;
}

h3 {
    color: var(--strings);
    font-size: 1.2em;
}

h4 {
    color: var(--numbers);
    font-size: 1em;
}

h5 {
    color: var(--keywords);
    font-size: 0.9em;
}

h6 {
    color: var(--variables);
    font-size: 0.8em;
}

p {
    color: var(--comments);
    font-size: 12.5px;
}

em {
    color: var(--classes);
    font-style: italic;
}

strong {
    color: var(--variables);
    font-weight: bold;
}

